.item {
  display: inline-block;
  margin: 0 1.5em;
  cursor: pointer;
  letter-spacing: 1px;
  position: 'relative';
}

.item > .underbar {
  padding: 0.5em 0;
  opacity: 0.7;
  transition: all 0.5 ease;
}

.item > .underbar:hover {
  opacity: 1;
}

.item > .underbar::after {
  content: '';
  position: relative;
  width: 0;
  bottom: 0;
  display: block;
  height: 3px;
  background: linear-gradient(to right, #ee4c2c, #9e256a);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.item > .underbar:hover::after {
  opacity: 1;
  width: 100%;
}
